html {
    margin: 0;
    padding: 0;
    
}

header {
    width: 100%;
    height: 70px;
}

body{
    margin: 0;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
}

/*--========================= Nav Bar Styling Code =========================--*/

nav {
    background: #efefef;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1030;
    top:0;
    left: 0;
    right: 0; 
}

/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.logo-img {
    height: 80px;
    line-height: 80px;
    padding: 0 10px 0 50px;
}

nav ul {
    float: right;
    margin: 0 20px 0 0;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

/* .tabs {
    float: left;
    background-color: white;
    text-align: center;
    width: auto;
    margin-top: 8px;
}

.tabs li {
    display: inline-block;
    padding: 15px 30px;
} */

nav ul li a {
    text-align: center;
    color: #ae0000;
    text-decoration: none;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'PT Mono', monospace; */
    font-family: 'Apercu Regular', Tahoma, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active, a:hover {
    background: white;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #ae0000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .logo-img {
        padding: 0 5px 0 40px;

    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 896px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        padding: 0;
        margin: 0 10px 0 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #efefef;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: gold;
    }
    #check:checked~ul {
        left: 0;
    }
}

.btn-booknow {
    text-align: center;
    cursor: pointer;
    padding: 15px 25px;
    color: red;
    background-color: yellow;
}

/*--========================= SlideShow =========================--*/

/* .section-banner {
    margin: 40px 5px;
}

.myslides {
    display: none;
    width: 100%;
}

.btn-display-left {
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 1%;
}

.btn-display-right {
    font-size: 3vw;
    position: absolute;
    top: 50%;
    right: 1%;
} */
.slideshow-section{
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
        

.sslider{
    width: 800px;
    height: 90vh;
    flex-basis: 100%;
    /* border-radius: 10px; */
    overflow: hidden;
  }
  
  .sslides{
    width: 500%;
    height: 90vh;
    display: flex;
  }
  
  .sslides input{
    display: none;
  }
  
  .sslide{
    width: 20%;
    transition: 2s;
  }
  
  .sslide img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -5vh;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #ae0000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 85vh;
  }
  
  .navigation-auto div{
    border: 2px solid #ae0000;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ae0000;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ae0000;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ae0000;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #ae0000;
  }

/*--========================= Facilities =========================--*/

.section-facilities {
    /* margin: 10px; */
    background-color: #efefef;
}

.fac-inner-wrapper {
    display: flex;
    align-items: center;
}

.fac-icon-text {
    flex-basis: 15%;
    margin: 5px auto 5px auto;
}

.fac-icon-text p {
    text-align: center;
    margin: auto;
}

.fac-icon-text div {
    text-align: center;
    height: 100%;
    margin: auto;
}

@media(max-width: 767px) {
    .fac-inner-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .fac-inner-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .fac-inner-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .fac-inner-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }
}

/*--========================= About Us =========================--*/

.about-us {
    padding: 70px 0;
}

.about-us div h2, .rooms-title h2 , .fac-title {
    font-size: 2rem;
    letter-spacing: .3125rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.about-us div p {
    font-family: 'Apercu Regular', Tahoma, sans-serif;
    font-size: .9375rem;
    text-align: center;
    justify-content: center;
    color: #262626;
    margin: 0 300px 50px 300px;
    line-height: 1.66;
}

.about-us div img {
    /* text-align: center;
    justify-content: center;
    margin: 0 300px;
    width: 800px;
    height: 400px; */
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/* .section-mid-img{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.about-us img{
    width: 1000px;
    height: 500px;
} */

/*--========================= Responsive About Us =========================--*/

@media(max-width: 1200px) {
    .about-us div p {
        font-size: .9rem;
        margin: 0 100px 20px 100px;
        line-height: 1.66;
    }
}

@media(max-width: 767px) {
    .about-us div h2, .rooms-title h2 ,.fac-title{
        font-size: 2rem;
        letter-spacing: .1rem;
    }
    .about-us div p {
        font-size: .9rem;
        margin: 0 20px 20px 20px;
        line-height: 1.66;
    }
}

@media(max-width: 574px) {
    .about-us div h2, .rooms-title h2, .fac-title {
        /* font-weight: bold; */
        font-size: 1.8rem;
    }
    .about-us div p {
        letter-spacing: .1rem;
        font-size: .9rem;
        margin: 20px 10px 20px 10px;
        line-height: 1.2;
    }
    .first-row-first-child {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

/*--========================= Rooms Section Card =========================--*/

.section-rooms {
    background: #efefef;
    padding: 1% 10% 5% 10%;
    display: flex;
    flex-wrap: wrap;
}

.container-rooms-row {
    display: flex;
    flex-wrap: wrap;
}

.card-column .card-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card-img:hover img {
    transform: scale(1.1);
}

.card-wrapper .card-img img {
    width: 100%;
    transition: all 0.3s ease;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    /* height: 300px; */
}

.card-box {
    background: white;
    padding: 2rem;
}

.card-box h2 {
    font-family: 'Gilda Display', serif;
    font-size: 1.9rem;
    font-weight: 400;
    margin: 0px 0px 8px;
}

.card-info-icons {
    padding-bottom: 0.5rem;
}

.card-info-icons-wrapper {
    display: inline-flex;
    align-items: center;
    padding-right: .5rem;
    font-size: 20px;
}

.card-info-icons-wrapper .mbr-iconfont {
    padding-right: .5rem;
    font-size: 20px;
}

.card-info-icons-wrapper .card-icon-text {
    display: inline-block;
    padding-right: 1rem;
    margin: 0;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}

.card-box p {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.btn-explore {
    text-align: center;
    cursor: pointer;
    padding: 5px 30px 5px 30px;
    color: white;
    background-color: black;
}

/*--========================= Rooms Column 2 =========================--*/

/* .first-row-first-child{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column; 
} */

.card-column-media {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}

@media (min-width: 992px) {
    .card-column {
        max-width: 45%;
        /* padding: 0 10px; */
    }
    .card-column-media .card-img {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0 7.5px;
    }
    .first-row-first-child {
        padding: 0 0 7.5px 0;
    }
    .first-row-second-child {
        padding: 7.5px 0 0 0;
    }
}

@media (max-width: 991px) {
    .card-column-media {
        width: 100%;
    }
    .card-column-media .card-img {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .first-row-first-child .card-wrapper, .first-row-second-child .card-wrapper {
        padding: 0 0;
    }
    .card-column-media .card-img {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0 7.5px;
    }
    .first-row-first-child {
        padding: 15px 0 7.5px 0;
    }
    .first-row-second-child {
        padding: 7.5px 0 15px 0;
    }
}

.card-column .card-wrapper {
    width: 96%;
    margin: auto;
}

.first-row-first-child .card-wrapper, .first-row-second-child .card-wrapper {
    display: flex;
    height: 100%;
}

@media (min-width: 992px) {}

/* ====================== Box Slider ===================== */

.box-slider-section{
    padding: 50px 0;
}

.section-box-slider {
    /* width: 100%; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.box-container {
    width: 400px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}

.slide-img {
    height: 350px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20x;
    box-sizing: border-box;
}

.detail-box-text {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width:480px){
    .box-container {
        width: 320px;
        margin: 10px;
    }
}

/*--========================= Footer =========================--*/

.footer {
    background-color: #f3f3f2;
    padding: 70px 0;
}

.footer-col {
    display: inline-table;
    width: 25%;
    /* padding: 0 15px; */
}

.footer-col img {
    display: block;
    width: 9vw;
    height: 7vw;
    margin: auto;
}

.footer-col h2 {
    font-family: 'Apercu Regular', Tahoma, sans-serif;
    font-size: 18px;
    color: #ae0000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-align: center;
}

.footer-col p {
    text-align: center;
    font-weight: 250;
    font-family: 'Apercu Regular', Tahoma, sans-serif;
}

.footer-col ul {
    list-style: none;
    padding-inline-start: 0px;
}

.footer-col ul li a {
    color: black;
    text-align: center;
    text-decoration: none;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family:Arial, Helvetica, sans-serif; */
    /* font-size: 1vw; */
    font-family: 'Apercu Regular', Tahoma, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
    padding: 15px 10px;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.row {
    display: flex;
    justify-content: center;
}

/*--========================= Responsive Footer =========================--*/

@media(max-width: 767px) {
    .row {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-logo img {
        display: none;
    }
    .footer-col .footer-logo-flex #vertical-logo {
        display: block;
        width: 132px;
        height: 100px;
        margin: auto;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/*--========================= Quick Links =========================--*/

.row2 {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    /* padding-left: 90px; */
}

.row2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.row2 li {
    float: left;
    padding: 15px 20px;
    font-family: 'Apercu Regular', Tahoma, sans-serif;
}

.row2 li a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/*--========================= footer social media icons =========================--*/

.social-list__link {
    margin: 10px 5px 0;
    text-decoration: none;
}

.social-links {
    text-align: center;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #8a3ab9;
}

.fa-pinterest {
    color: red;
}

/*========================= Copyrights =========================--*/

.row3 {
    display: flex;
    font-family: 'Apercu Regular', Tahoma, sans-serif;
}

.row3 p {
    color: grey;
}

.footer-col #vertical-logo {
    display: none;
}